.transparent-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.transparent-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.transparent-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.transparent-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.2);
  border-radius: 9999px;
}