<!-- Parent Component Template -->
<div class="flex flex-wrap gap-6 justify-center items-center">

    <!-- Top Row - Left Side -->
    <app-transaction-input class="min-[948px]:flex-1 w-full max-w-md p-6 bg-white dark:bg-slate-900 rounded-2xl border border-slate-200 dark:border-slate-800 shadow-sm mt-5 space-y-5" />

    <!-- Top Row - Right Side -->
    <app-summary class="min-[948px]:flex-1 w-full max-w-md p-6 bg-white dark:bg-slate-900 rounded-2xl border border-slate-200 dark:border-slate-800 shadow-sm mt-5 space-y-5" />

    <!-- Bottom Row - Full Width -->
    <app-transaction-list class="block w-full bg-white dark:bg-slate-900 border border-slate-200 dark:border-slate-800 shadow-sm rounded-2xl h-100 mx-10 px-7 py-5" />

</div>
