/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
    --color-header-dark: #021526;
    --color-bg-dark: #172633;


}

body {
    @apply bg-slate-950;
    /* background-color: white; */
    /* background-color: var(--color-bg-dark); */
}



@layer utilities {
    

    .bg-dark {
        background-color: var(--color-header-dark);
        @apply text-slate-100;
    }

    
}